.App {
  border-style: groove;
  border-width: 60px;
  border-color: darkgray;
  padding: 30px;
  background-color: rgb(92, 9, 36);
  background-clip: padding-box;
  text-align: center;
  
}

h1.Title {
  text-align:center;
}
h2.Subtitle {
  text-align: center;
  color: white;
}
h1.School{
  text-align: center;
  color: steelblue;
}

p.Content{
  padding:20px;
  text-align: left;
  color: lightgray
}




